@font-face {
    font-family: 'Opens Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Opens Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/opensans.woff2') format('woff2'),
        url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-family: 'Opens Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Opens Sans Light'), local('OpenSans-Light'),
        url('../fonts/opensanslight.woff2') format('woff2'),
        url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('../fonts/gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --basic-black: #000;
    --basic-dark: #363636;
    --basic-white: #fff;
    --basic-grey: #464646;
    --basic-half-grey: #7e7e7e;
    --basic-grey-light: #e5e5e5;
    --basic-grey-super-light: #f2f2f2;
    --basic-grey-super-normal: #eaeaea;
    --basic-pink: #f6dada;
    --special-yellow: #f7e296;
    --special-yellow-dark: #f0c52e;
    --special-green: #91c92f;
    --special-grey: #a6a6a6;
    --special-grey-light: #ebebeb;
    --special-grey-dark: #d9d9d9;
    --opacity-black-6: rgba(0, 0, 0, 0.6);
    --opacity-black-5: rgba(0, 0, 0, 0.5);
    --opacity-black-4: rgba(0, 0, 0, 0.4);
    --opacity-black-3: rgba(0, 0, 0, 0.3);
    --opacity-black-2: rgba(0, 0, 0, 0.2);
    --opacity-black-2: rgba(0, 0, 0, 0.1);
    --opacity-white-7: rgba(255, 255, 255, 0.7);
    --opacity-white-6: rgba(255, 255, 255, 0.6);
    --opacity-white-3: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-height: 100%;
    padding-top: 40px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: content-box;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--special-yellow);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 1px;
}

.header-wrapper {
    display: flex;
    margin-bottom: 50px;
}

.logo {
    display: block;
    margin-bottom: 29px;
}

.search-form {
    width: 440px;
    margin-right: auto;
}

.search-form-input {
    color: var(--opacity-black-3);
    background-color: transparent;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    line-height: inherit;
    padding-left: 38px;
}

.search-form-input:hover {
    color: var(--opacity-black-6);
}

.search-form-input:focus {
    color: var(--basic-black);
    outline: none;
    border-bottom-color: var(--basic-black);
}

.search-form-button {
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: transparent;
    border: 2px solid var(--basic-black);
}

.search-form-button:hover {
    background-color: black;
    color: var(--basic-white);
}

.search-form-button:active {
    color: var(--opacity-white-3);
}

.catalog-submenu-link {
    color: inherit;
}

.catalog-submenu-link:hover {
    color: var(--opacity-black-6);
}

.catalog-submenu-link:active {
    color: var(--opacity-black-3);
}

.user-navigation {
    width: 500px;
    display: flex;
}

.user-navigation-item {
    margin-left: 41px;
}

.user-navigation-item:first-child {
    margin-left: 0;
    margin-right: auto;
}

.user-navigation-link {
    position: relative;
    color: inherit;
    padding-left: 26px;
}

.user-navigation-link:hover {
    color: var(--opacity-black-6);
}

.user-navigation-link:active {
    color: var(--opacity-black-3);
}

.user-navigation-quit {
    color: var(--opacity-black-3);
    padding-left: 0;
    margin-left: 20px;
}

.site-navigation-item {
    margin-right: 38px;
}

.site-navigation-item:first-child {
    margin-right: 285px;
}

.site-navigation-item:first-child .site-navigation-link {
    padding-right: 38px;
}

.site-navigation-item:last-child {
    margin-right: 0;
    margin-left: auto;
}

.site-navigation-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: inherit;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.site-navigation-link:hover {
    color: var(--opacity-black-6);
}

.site-navigation-link:active {
    color: var(--opacity-black-3);
}

.promo {
    margin-bottom: 96px;
    padding-bottom: 5px;
}

.promo-product-card {
    display: flex;
    justify-content: space-around;
}

.promo-product-description {
    width: 495px;
}

.promo-product-number {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.promo-product-title {
    margin: 0;
    margin-bottom: 30px;
    font-family: "GIlroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);
}

.promo-product-text {
    margin: 0;
    margin-bottom: 60px;
}

.promo-product-button {
    display: inline-block;
    margin-bottom: 60px;
}

.item-property {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding-right: 65px;
}

.item-property:last-child {
    padding-right: 0;
}

.property-table {
    border-spacing: 0 15px;
}

.property-description-item {
    font-size: 36px;
    line-height: 42px;
}

.property-definition-item {
    font-size: 13px;
    line-height: 15px;
}

.product-catalog {
    margin-bottom: 49px;
    padding-top: 20px;
}

.product-catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.product-catalog-item {
    width: 160px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.product-catalog-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.product-catalog-link::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 38px;
    background-color: var(--special-yellow);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.product-catalog-link:hover::before {
    background-color: var(--special-yellow-dark);
}

.product-catalog-link:active {
    color: var(--opacity-black-3);
}

.product-catalog-vr::before {
    background-image: url("../img/popular-1.svg");
}

.product-catalog-monopods::before {
    background-image: url("../img/popular-2.svg");
}

.product-catalog-cameras::before {
    background-image: url("../img/popular-3.svg");
}

.product-catalog-bracelets::before {
    background-image: url("../img/popular-4.svg");
}

.product-catalog-watches::before {
    background-image: url("../img/popular-5.svg");
}

.product-catalog-quadcopters::before {
    background-image: url("../img/popular-6.svg");
}

.advantages {
    margin-bottom: 90px;
}

.advantages-wrapper {
    display: flex;
    align-items: baseline;
}

.advantages-slider-item {
    margin-bottom: 39px;
}

.advantages-slider-item:last-child {
    margin-bottom: 0;
}

.advantages-slider-content {
    padding-left: 116px;
}

.button.advantages-slider-link:active {
    color: var(--special-yellow);
    background-color: var(--basic-black);
}

.title {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.text {
    line-height: 28px;
}

.advantages-title {
    margin: 0;
    margin-bottom: 40px;
}

.advantages-slider-text {
    width: 540px;
    letter-spacing: 0.1em;
}

.popular-brands {
    margin-bottom: 90px;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
}

.popular-item {
    margin-right: 40px;
}

.popular-link {
    display: block;
}

.popular-link::before {
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.popular-dji::before {
    background-image: url("../img/popular-brands-hover-1.png");
}

.popular-spgadgets::before {
    background-image: url("../img/popular-brands-hover-2.png");
}

.popular-gopro::before {
    background-image: url("../img/popular-brands-hover-3.png");
}

.popular-vive::before {
    background-image: url("../img/popular-brands-hover-4.png");
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}

.about-us {
    width: 473px;
}

.about-us-list {
    margin-top: 60px;
    margin-bottom: 84px;
}

.about-us-item {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    padding-left: 32px;
    margin-bottom: 20px;
}

.about-us-item:last-child {
    margin-bottom: 0;
}

.contacts {
    width: 560px;
}

.contacts-map {
    display: block;
    margin-bottom: 85px;
}

.about-us-title {
    margin: 0;
    margin-bottom: 50px;
}

.about-us-text {
    margin: 0;
    margin-bottom: 40px;
}

.button {
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--special-yellow-dark);
    border: none;
}

.button:active {
    color: var(--opacity-black-3);
}

.page-title-container {
    margin-top: 44px;
    margin-bottom: 50px;
    padding-left: 60px;
}

.page-title {
    letter-spacing: normal;
    margin-bottom: 30px;
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs-item {
    margin-right: 12px;
}

.breadcrumbs-link {
    color: var(--opacity-black-3);
    font-size: 14px;
    padding-right: 24px;
}

.breadcrumbs-link:hover {
    color: var(--opacity-black-6);
}

.breadcrumbs-link:active {
    color: var(--opacity-black-1);
}

.catalog-columns {
    display: flex;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    width: 468px;
    padding-right: 68px;
    padding-top: 25px;
    background-color: var(--basic-grey-light);
}

.catalog-subtitle {
    margin: 0;
    margin-bottom: 25px;
}

.filter-form {
    width: 200px;
    padding-top: 70px;
}

.filter-form-category {
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 38px;
}

.filter-form-category:last-child {
    margin-bottom: 50px;
}

.filter-form-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}

.filter-form-item {
    margin-bottom: 15px;
}

.filter-form-item:last-child {
    margin-bottom: 0;
}

.filter-form-checkbox+label,
.filter-form-radio+label {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 19px;
}

.filter-form-checkbox:disabled+label,
.filter-form-radio:disabled+label {
    color: var(--special-grey);
}

.catalog {
    width: 972px;
    flex-grow: 1;
}

.sorting-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 72px;
    background-color: var(--basic-grey-light);
}

.sorting-wrapper-inner {
    display: flex;
    align-items: baseline;
    width: 760px;
}

.catalog-subtitle {
    width: 200px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sorting-subtitle {
    width: auto;
    margin-bottom: 0;
    margin-right: 74px;
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
}

.sorting-item {
    margin-right: 30px;
}

.sorting-item:last-child {
    margin-right: 0;
}

.sorting-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--opacity-black-3);
}

.sorting-link:hover {
    color: var(--opacity-black-6);
}

.sorting-link:active {
    color: var(--basic-black);
}

.arrow-list {
    display: flex;
    margin-left: auto;
}

.arrow-item {
    margin-right: 25px;
}

.arrow-item:last-child {
    margin-right: 0;
}

.arrow-link {
    display: block;
}

.arrow-link::before {
    content: '';
    display: block;
    width: 11px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.arrow-up::before {
    background-image: url("../img/icon-up-dir.svg");
}

.arrow-down::before {
    background-image: url("../img/icon-down-dir.svg");
}

.catalog-list {
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
    row-gap: 48px;
}

.catalog-img {
    margin-bottom: 30px;
}

.catalog-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.catalog-compare {
    letter-spacing: 0.1em;
    color: var(--opacity-black-5);
}

.catalog-compare:hover {
    color: var(--basic-black);
}

.catalog-compare:active {
    color: var(--opacity-black-2);
}

.catalog-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    width: 275px;
    margin: 0;
    padding-right: 10px;
}

.catalog-title-link {
    color: var(--basic-black);
}

.catalog-price {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}

.catalog-container {
    padding-top: 70px;
    padding-right: 140px;
    padding-bottom: 78px;
    padding-left: 72px;
}

.catalog-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    margin-top: 40px;
    background-color: var(--basic-grey-light);
}

.catalog-pagination-list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-right: -30px;
    padding-left: 10px;
    padding-right: 10px;
}

.catalog-pagination-item {
    margin-right: 30px;
}

/* .catalog-pagination-item:last-child {
    margin-right: 0;
} */

.catalog-pagination-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: inherit;
}

.catalog-pagination-control {
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: inherit;
}

.catalog-pagination-control:hover {
    background-color: var(--special-grey-dark);
}

.catalog-pagination-control:active {
    color: var(--opacity-black-3);
}

.catalog-pagination-number {
    color: var(--opacity-black-3);
}

.catalog-pagination-number:hover {
    color: var(--opacity-black-6);
}

.catalog-pagination-number:active {
    color: var(--basic-black);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-wrapper-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 67px;
}

.footer-wrapper-row:first-child {
    margin-bottom: 72px;
}

.footer-wrapper-row:last-child {
    margin-bottom: 0;
}

.footer {
    background-color: var(--basic-dark);
    padding-top: 46px;
    padding-bottom: 65px;
}

.footer-user-navigation {
    display: flex;
    justify-content: space-between;
    min-width: 325px;
}

.footer-user-item {
    margin-right: 40px;
}

.footer-user-item:last-child {
    margin-right: 0;
}

.footer-user-link {
    color: var(--opacity-white-7);
    padding-left: 25px;
}

.footer-user-link:hover {
    color: var(--basic-white);
}

.footer-user-link:active {
    color: var(--opacity-white-3);
}

.footer-address {
    color: var(--basic-white);
    font-style: normal;
}

.footer-site-navigation {
    display: flex;
    justify-content: space-between;
    width: 423px;
}

.footer-site-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-site-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}

.footer-site-link:hover {
    color: var(--opacity-white-6);
}

.footer-site-link:active {
    color: var(--opacity-white-3);
}

.social-link {
    background-color: var(--basic-dark);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-fb {
    background-image: url("../img/fb.svg");
}

.social-inst {
    background-image: url("../img/instagram.svg");
}

.social-tw {
    background-image: url("../img/twitter.svg");
}

.footer-tel {
    color: var(--basic-white);
}

.modal-feedback {
    width: 960px;
    padding-top: 92px;
    padding-right: 100px;
    padding-bottom: 69px;
    padding-left: 100px;
}

.modal-feedback-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-feedback-item {
    width: 360px;
}

.modal-feedback-title {
    display: block;
    margin-bottom: 10px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.modal-feedback-input {
    width: 100%;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    margin-bottom: 32px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: var(--opacity-black-4);
    background-color: var(--basic-grey-super-light);
}

.modal-feedback-input:hover {
    background-color: var(--basic-grey-super-normal);
}

.modal-feedback-input:focus {
    outline: none;
    border-color: var(--special-yellow);
    color: var(--basic-dark);
    background-color: var(--basic-white);
}

.modal-feedback-message {
    width: 760px;
}

.modal-feedback-message .modal-feedback-input {
    height: 167px;
    margin-bottom: 54px;
}

.modal-feedback-button {
    background-color: var(--special-yellow);
}

.close-modal {
    width: 55px;
    height: 55px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.4;
}

.close-modal:hover {
    opacity: 1;
}

.close-modal:active {
    opacity: 0.3;
}