@font-face {
    font-family: 'Opens Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Opens Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/opensans.woff2') format('woff2'),
        url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-family: 'Opens Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Opens Sans Light'), local('OpenSans-Light'),
        url('../fonts/opensanslight.woff2') format('woff2'),
        url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('../fonts/gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --basic-black: #000;
    --basic-dark: #363636;
    --basic-white: #fff;
    --basic-grey: #464646;
    --basic-half-grey: #7e7e7e;
    --basic-grey-dark: #dcdcdc;
    --basic-grey-light: #e5e5e5;
    --basic-grey-super-light: #f2f2f2;
    --basic-grey-super-normal: #eaeaea;
    --basic-pink: #f6dada;
    --special-yellow: #f7e296;
    --special-yellow-dark: #f0c52e;
    --special-yellow-super-dark: #ffc600;
    --special-green: #91c92f;
    --special-grey: #a6a6a6;
    --special-grey-light: #ebebeb;
    --special-grey-dark: #d9d9d9;
    --opacity-black-6: rgba(0, 0, 0, 0.6);
    --opacity-black-5: rgba(0, 0, 0, 0.5);
    --opacity-black-4: rgba(0, 0, 0, 0.4);
    --opacity-black-3: rgba(0, 0, 0, 0.3);
    --opacity-black-2: rgba(0, 0, 0, 0.2);
    --opacity-black-2: rgba(0, 0, 0, 0.1);
    --opacity-white-7: rgba(255, 255, 255, 0.7);
    --opacity-white-6: rgba(255, 255, 255, 0.6);
    --opacity-white-3: rgba(255, 255, 255, 0.3);
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);

    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;

    min-height: 100%;
    padding-top: 40px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;
}

.list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.header {
    position: relative;

    padding-top: 45px;
    padding-right: 60px;
    padding-bottom: 18px;
    padding-left: 60px;

    background-color: var(--special-yellow);
}

.header-wrapper {
    display: flex;

    margin-bottom: 32px;
}

.logo {
    display: block;
}

.logo[href]:hover {
    opacity: 0.6;
}

.logo[href]:active {
    opacity: 0.3;
}

.header-logo {
    position: absolute;
    top: -20px;

    margin-bottom: 29px;
}

.search-form {
    position: relative;

    width: 440px;
    margin-right: auto;
}

.search-form-input {
    position: relative;

    width: 100%;
    padding-right: 100px;
    padding-bottom: 14px;
    padding-left: 38px;

    line-height: inherit;

    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    background-color: transparent;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 2px;
}

.search-form-input::-webkit-search-decoration,
.search-form-input::-webkit-search-cancel-button,
.search-form-input::-webkit-search-results-button,
.search-form-input::-webkit-search-results-decoration {
    display: none;
}

.search-form-input::placeholder {
    color: var(--opacity-black-3);

    opacity: 1;
}

.search-form-input:hover::placeholder {
    color: var(--opacity-black-6);
}

.search-form-input:focus::placeholder {
    color: var(--basic-black);
}

.search-form-input:focus,
.search-form-input:valid {
    color: var(--basic-black);

    outline: none;
    border-bottom-color: var(--basic-black);
}

.search-form-input:focus+.search-form-button,
.search-form-input:valid+.search-form-button {
    opacity: 1;
}

.search-form-button {
    position: absolute;
    right: 0;
    bottom: 0;

    padding-top: 15px;
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 17px;

    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
    color: var(--basic-black);

    border: 2px solid var(--basic-black);
    background-color: transparent;
    opacity: 0;
}

.search-form-button:hover {
    color: var(--basic-white);

    background-color: black;
}

.search-form-button:active {
    color: var(--opacity-white-3);
}

.user-navigation {
    display: flex;

    width: 500px;
}

.user-navigation-item {
    margin-left: 46px;
}

.user-navigation-item:first-child {
    margin-left: 0;
    margin-right: auto;
}

.user-navigation-link {
    position: relative;

    padding-left: 24px;

    color: inherit;
}

.user-navigation-link::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
}

.user-navigation-link:hover {
    opacity: 0.6;
}

.user-navigation-link:active {
    opacity: 0.3;
}

.user-navigation-entry::before {
    width: 13px;
    height: 14px;

    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-navigation-compare::before {
    width: 14px;
    height: 14px;

    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-navigation-cart::before {
    width: 11px;
    height: 14px;

    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-navigation-quit {
    margin-left: 18px;
    padding-left: 0;

    color: var(--opacity-black-3);
}

.site-navigation-item {
    margin-right: 36px;
}

.site-navigation-item:first-child {
    margin-right: 309px;
}

.site-navigation-item:first-child .site-navigation-link {
    padding-right: 38px;
}

.site-navigation-item:last-child {
    margin-right: 0;
    margin-left: auto;
}

.site-navigation-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: inherit;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.site-navigation-link:hover {
    opacity: 0.6;
}

.site-navigation-link:active {
    opacity: 0.3;
}

.site-navigation-catalog:hover .catalog-navigation {
    visibility: visible;
}

.site-navigation-catalog-link {
    position: relative;

    letter-spacing: 0.1em;
}

.site-navigation-catalog-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    width: 22px;
    height: 22px;

    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-navigation {
    position: absolute;
    left: 0;
    z-index: 1;

    display: flex;
    width: 100%;
    padding-top: 31px;
    padding-right: 60px;
    padding-bottom: 41px;
    padding-left: 60px;

    background-color: var(--special-yellow);

    visibility: hidden;
}

.catalog-navigation-item {
    margin-right: 65px;
}

.catalog-submenu-item {
    margin-bottom: 16px;
}

.catalog-submenu-item:last-child {
    margin-bottom: 0;
}

.catalog-submenu-link {
    color: inherit;
}

.catalog-submenu-link:hover {
    color: var(--opacity-black-6);
}

.catalog-submenu-link:active,
.catalog-submenu-link.current {
    color: var(--opacity-black-3);
}

.promo {
    position: relative;

    margin-bottom: 59px;
    padding-bottom: 5px;
}

.slider-controls {
    position: absolute;
    right: 108px;
    bottom: 174px;
    z-index: 1;

    display: flex;
}

.slider-controls-item:not(:last-child) {
    margin-right: 18px;
}

.slider-controls-button {
    position: relative;

    display: block;
    width: 12px;
    height: 12px;

    border-width: 1px;
    border-style: solid;
    border-color: var(--basic-black);
    border-radius: 50%;

    cursor: pointer;
}

#promo-slide-1:checked~.slider-controls .slider-controls-button[for="promo-slide-1"]::before,
#promo-slide-2:checked~.slider-controls .slider-controls-button[for="promo-slide-2"]::before,
#promo-slide-3:checked~.slider-controls .slider-controls-button[for="promo-slide-3"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 6px;
    height: 6px;

    border-width: 1px;
    border-style: solid;
    border-color: var(--basic-black);
    border-radius: 50%;

    transform: translate(-50%, -50%);
}

.promo-product-list {
    position: relative;

    background-image: linear-gradient(to bottom, var(--special-yellow) 114px, var(--basic-white) 114px);

    counter-reset: li;
}

.promo-product-item::before {
    content: counter(li, decimal-leading-zero);
    position: absolute;
    right: 47px;
    top: -32px;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);

    opacity: 0;

    counter-increment: li;
}

.promo-product-card {
    position: relative;
    top: -15px;

    display: none;
    justify-content: space-between;
    height: 506px;
    padding-left: 30px;
    padding-right: 60px;
}

#promo-slide-1:checked~.promo-product-list .promo-product-item:nth-child(1) .promo-product-card,
#promo-slide-2:checked~.promo-product-list .promo-product-item:nth-child(2) .promo-product-card,
#promo-slide-3:checked~.promo-product-list .promo-product-item:nth-child(3) .promo-product-card {
    display: flex;
}

#promo-slide-1:checked~.promo-product-list .promo-product-item:nth-child(1)::before,
#promo-slide-2:checked~.promo-product-list .promo-product-item:nth-child(2)::before,
#promo-slide-3:checked~.promo-product-list .promo-product-item:nth-child(3)::before {
    opacity: 1;
}

.promo-product-img-container {
    width: 526px;
}

.promo-product-img {
    position: relative;
}

.promo-product-item:nth-child(1) .promo-product-img {
    left: 59px;
}

.promo-product-item:nth-child(2) .promo-product-img {
    top: 26px;
    left: 86px;
}

.promo-product-item:nth-child(3) .promo-product-img {
    top: 82px;
}

.promo-product-description {
    align-self: flex-end;
    width: 500px;
}

.promo-product-title {
    position: relative;

    margin: 0;
    margin-bottom: 27px;

    font-family: "GIlroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);
}

.promo-product-title::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;

    width: 100px;
    height: 7px;

    background-color: var(--basic-white);
}

.promo-product-text {
    margin: 0;
    margin-bottom: 50px;
}

.button {
    position: relative;
    z-index: 1;

    padding: 0;
    padding-top: 9px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-left: 15px;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black);

    border: none;
    background-color: transparent;
    outline: none;

    cursor: pointer;
}

.button:active {
    color: var(--opacity-black-3);
}

.button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;

    width: 100%;
    height: 20%;

    background-color: var(--special-yellow-dark);

    transform: translateY(-50%);
    transition: transform 0.3s;
}

.button:hover::before {
    transform: translateY(-50%) scaleY(5);
}

.promo-product-button {
    display: inline-block;
    margin-bottom: 38px;
    padding-left: 44px;
    padding-right: 40px;
}

.item-property {
    padding-right: 60px;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.item-property:last-child {
    padding-right: 0;
}

.property-table {
    border-spacing: 0 15px;
}

.property-description-item {
    font-size: 36px;
    line-height: 42px;
}

.property-definition-item {
    font-size: 13px;
    line-height: 15px;
}

.product-catalog {
    margin-bottom: 49px;
    padding-top: 20px;
}

.product-catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
}

.product-catalog-item {
    width: 160px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.product-catalog-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.product-catalog-link::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 38px;

    background-color: var(--special-yellow);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.product-catalog-link:hover::before {
    background-color: var(--special-yellow-dark);
}

.product-catalog-link:active {
    color: var(--opacity-black-3);
}

.product-catalog-bracelets {
    letter-spacing: normal;
}

.product-catalog-vr::before {
    background-image: url("../img/popular-1.svg");
}

.product-catalog-monopods::before {
    background-image: url("../img/popular-2.svg");
}

.product-catalog-cameras::before {
    background-image: url("../img/popular-3.svg");
}

.product-catalog-bracelets::before {
    background-image: url("../img/popular-4.svg");
}

.product-catalog-watches::before {
    background-image: url("../img/popular-5.svg");
}

.product-catalog-quadcopters::before {
    background-image: url("../img/popular-6.svg");
}

.advantages {
    margin-bottom: 90px;
    padding-top: 16px;
    padding-bottom: 67px;

    background-image: linear-gradient(to bottom, var(--basic-white) 115px, var(--basic-grey-light) 115px);
}

.advantages-wrapper {
    display: flex;
}

.advantages-slider-nav {
    position: relative;

    padding-top: 80px;
    padding-bottom: 77px;
}

.advantages-slider-nav::after {
    content: '';
    position: absolute;
    top: 0;
    right: -7px;

    width: 7px;
    height: 100%;

    background-color: var(--basic-black);
}

.advantages-slider-item:not(:last-child) {
    width: 277px;
    margin-bottom: 22px;
}

.advantages-slider-item:nth-child(1) .advantages-slider-link {
    padding-right: 19px;
    padding-left: 19px;
}

.advantages-slider-item:nth-child(2) .advantages-slider-link {
    padding-right: 22px;
    padding-left: 24px;
}

.advantages-slider-item:nth-child(3) .advantages-slider-link {
    padding-right: 35px;
    padding-left: 38px;
}

#advantages-slide-1:checked~.advantages-slider-nav .advantages-slider-link[for="advantages-slide-1"],
#advantages-slide-2:checked~.advantages-slider-nav .advantages-slider-link[for="advantages-slide-2"],
#advantages-slide-3:checked~.advantages-slider-nav .advantages-slider-link[for="advantages-slide-3"] {
    width: 100%;

    color: var(--special-yellow);
}

#advantages-slide-1:checked~.advantages-slider-nav .advantages-slider-link[for="advantages-slide-1"]::before,
#advantages-slide-2:checked~.advantages-slider-nav .advantages-slider-link[for="advantages-slide-2"]::before,
#advantages-slide-3:checked~.advantages-slider-nav .advantages-slider-link[for="advantages-slide-3"]::before {
    background-color: var(--basic-black);

    transform: translateY(-50%) scaleY(5);
}

.advantages-slider-link {
    display: inline-block;
    padding-right: 24px;
    padding-left: 24px;
}

.advantages-slider-link:active {
    width: 100%;

    color: var(--special-yellow);
}

.advantages-slider-link:active::before {
    background-color: var(--basic-black);

    transform: translateY(-50%) scaleY(5);
}

.advantages-slider-content {
    padding-top: 71px;
    padding-left: 123px;
}

.advantages-slider-page {
    position: relative;

    display: none;
    padding-right: 188px;
}

.advantages-slider-page::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

#advantages-slide-1:checked~.advantages-slider-content .advantages-slider-page:nth-child(1),
#advantages-slide-2:checked~.advantages-slider-content .advantages-slider-page:nth-child(2),
#advantages-slide-3:checked~.advantages-slider-content .advantages-slider-page:nth-child(3) {
    display: block;
}

.advantages-slider-delivery::after {
    width: 136px;
    height: 164px;

    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-slider-warranty {
    padding-right: 205px;
}

.advantages-slider-warranty::after {
    top: -18px;

    width: 171px;
    height: 195px;

    background-image: url("../img/warranty.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-slider-credit {
    padding-right: 182px;
}

.advantages-slider-credit::after {
    top: -24px;

    width: 156px;
    height: 188px;

    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.text {
    line-height: 28px;
}

.advantages-title {
    margin: 0;
    margin-bottom: 41px;
}

.advantages-slider-text {
    width: 570px;

    letter-spacing: 0.1em;
}

.popular-brands {
    margin-bottom: 85px;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -40px;
}

.popular-item {
    margin-left: 40px;
}

.popular-link {
    display: block;
}

.popular-link::before {
    content: "";
    position: absolute;
    z-index: 1;

    width: 260px;
    height: 100px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0;
}

.popular-dji::before {
    background-image: url("../img/popular-brands-hover-1.png");
}

.popular-spgadgets::before {
    background-image: url("../img/popular-brands-hover-2.png");
}

.popular-gopro::before {
    background-image: url("../img/popular-brands-hover-3.png");
}

.popular-vive::before {
    background-image: url("../img/popular-brands-hover-4.png");
}

.popular-link:hover::before {
    opacity: 1;
}

.index-columns {
    display: flex;
    justify-content: space-between;

    margin-bottom: 85px;
}

.about-us {
    position: relative;

    width: 473px;
    padding-top: 58px;
}

.about-us::before {
    content: '';
    position: absolute;
    top: 0;

    display: block;
    width: 80px;
    height: 7px;

    background-color: var(--basic-black);
}

.about-us-list {
    margin-top: 60px;
    margin-bottom: 79px;
}

.about-us-item {
    position: relative;

    margin-bottom: 14px;
    padding-left: 32px;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

.about-us-item::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;

    width: 8px;
    height: 8px;

    border-width: 2px;
    border-style: solid;
    border-color: var(--basic-grey-light);
    border-radius: 50%;
}

.about-us-item:last-child {
    margin-bottom: 0;
}

.contacts {
    position: relative;

    width: 560px;
    padding-top: 58px;
}

.contacts::before {
    content: '';
    position: absolute;
    top: 0;

    display: block;
    width: 80px;
    height: 7px;

    background-color: var(--basic-black);
}

.contacts-map {
    display: block;
    margin-bottom: 80px;
}

.about-us-title {
    margin: 0;
    margin-bottom: 41px;
}

.about-us-text {
    margin: 0;
    margin-bottom: 40px;
}

.about-us-button {
    padding-right: 18px;
    padding-left: 24px;
}

.contacts-button {
    padding-left: 40px;
    padding-right: 38px;
}

.page-title-container {
    margin-top: 44px;
    margin-bottom: 50px;
    padding-left: 60px;
}

.page-title {
    margin-bottom: 30px;

    letter-spacing: normal;
}

.breadcrumbs {
    display: flex;
    align-items: baseline;
}

.breadcrumbs-item {
    margin-right: 16px;
}

.breadcrumbs-link {
    position: relative;

    padding-right: 25px;

    font-size: 14px;
    color: var(--opacity-black-3);
}

.breadcrumbs-link:hover {
    color: var(--opacity-black-6);
}

.breadcrumbs-link:active {
    color: var(--opacity-black-1);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 2px;

    width: 10px;
    height: 9px;

    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-columns {
    display: flex;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;

    width: 330px;
    padding-right: 68px;
    padding-top: 25px;

    background-image: linear-gradient(to bottom, var(--basic-grey-dark) 70px, var(--basic-grey-light) 70px);
}

.catalog-subtitle {
    margin: 0;
    margin-bottom: 25px;
}

.filter-form {
    width: 200px;
    padding-top: 85px;
}

.filter-form-category {
    margin: 0;
    margin-bottom: 48px;
    padding: 0;

    border: none;
}

.filter-form-title {
    position: relative;

    width: 100%;
    margin-bottom: 30px;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.filter-form-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: -16px;

    width: 100%;
    height: 2px;

    background-color: var(--basic-black);
}

.filter-checkboxes-list {
    margin-bottom: 10px;
}

.filter-form-item {
    margin-bottom: 19px;
}

.filter-form-item:last-child {
    margin-bottom: 0;
}

.range-filter {
    width: 200px;
    margin-top: 10px;
}

.range-filter-controls {
    position: relative;

    margin-bottom: 12px;

    border-radius: 5px;
}

.range-filter-scale {
    height: 2px;

    background-color: var(--opacity-black-2);
}

.range-filter-bar {
    width: 70%;
    height: 2px;

    background-color: var(--special-green);
}

.range-filter-toggle {
    position: absolute;
    top: -9px;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    border: 8px solid var(--basic-white);
    border-radius: 50%;
    background-color: var(--special-grey);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);

    cursor: pointer;
}

.range-filter-toggle-min {
    left: 18px;
}

.range-filter-toggle-max {
    left: 160px;
}

.range-filter-price-controls {
    display: flex;
}

.range-filter-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.range-filter-price:not(:last-child) {
    margin-right: 19px;
}

.range-filter-input::-webkit-outer-spin-button,
.range-filter-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range-filter-input {
    -moz-appearance: textfield;
}

.range-filter-input {
    width: 60px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    font-family: inherit;
    font-size: inherit;
    color: #283136;

    border: none;
    background-color: transparent;
}

.filter-form-label {
    position: relative;

    padding-left: 43px;

    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
}

.filter-form-checkbox+.filter-form-label::before {
    content: '';
    position: absolute;
    left: 0;

    width: 24px;
    height: 24px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.filter-form-checkbox:checked+.filter-form-label::before {
    background-image: url("../img/checkbox-on.svg");
}

.filter-form-radio+.filter-form-label::before {
    content: '';
    position: absolute;
    left: 0;

    width: 24px;
    height: 24px;

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.filter-form-radio:checked+.filter-form-label::before {
    background-image: url("../img/radio-on.svg");
}

.filter-form-checkbox+.filter-form-label:hover::before,
.filter-form-radio+.filter-form-label:hover::before {
    opacity: 0.6;
}

.filter-form-checkbox+.filter-form-label:active::before,
.filter-form-radio:not(:checked)+.filter-form-label:active::before {
    opacity: 1;
}

.filter-form-checkbox:disabled+.filter-form-label::before,
.filter-form-checkbox:disabled+.filter-form-label,
.filter-form-radio:disabled+.filter-form-label::before,
.filter-form-radio:disabled+.filter-form-label {
    opacity: 0.25;
}

.filter-form-button {
    padding-left: 37px;
    padding-right: 42px;
}

.catalog {
    flex-grow: 1;

    width: 832px;
}

.sorting-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 72px;

    background-color: var(--basic-grey-light);
}

.sorting-wrapper-inner {
    display: flex;
    align-items: baseline;

    width: 760px;
}

.catalog-subtitle {
    width: 200px;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sorting-subtitle {
    width: auto;
    margin-bottom: 0;
    margin-right: 74px;
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
}

.sorting-item {
    margin-right: 33px;
}

.sorting-item:last-child {
    margin-right: 0;
}

.sorting-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--opacity-black-3);
}

.sorting-link:hover {
    color: var(--opacity-black-6);
}

.sorting-link:active,
.sorting-link.current {
    color: var(--basic-black);
}

.arrow-list {
    display: flex;

    margin-left: auto;
}

.arrow-item {
    margin-right: 14px;
}

.arrow-item:last-child {
    margin-right: 0;
}

.arrow-link {
    padding: 0;

    border: none;
    background-color: transparent;
    opacity: 0.2;
}

.arrow-link:hover {
    opacity: 0.4;
}

.arrow-link:active,
.arrow-link.current {
    opacity: 1;
}

.arrow-link::before {
    content: '';
    display: block;
    width: 19px;
    height: 11px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.arrow-up::before {
    background-image: url("../img/icon-up-dir.svg");
}

.arrow-down::before {
    background-image: url("../img/icon-down-dir.svg");
}

.catalog-list {
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
    row-gap: 48px;
}

.catalog-card {
    position: relative;
}

.catalog-card-new::before {
    content: 'New';
    position: absolute;
    top: 29px;
    right: 27px;
    z-index: 1;

    width: 62px;
    height: 62px;
    padding-top: 22px;
    padding-right: 17px;
    padding-bottom: 23px;
    padding-left: 16px;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--opacity-black-3);

    border-width: 2px;
    border-style: solid;
    border-color: var(--opacity-black-3);
    border-radius: 50%;
}

.catalog-img-wrapper {
    position: relative;

    margin-bottom: 25px;
}

.catalog-img-wrapper:hover .catalog-img {
    opacity: 0.7;
}

.catalog-img-wrapper:hover .catalog-img-wrapper-inner {
    visibility: visible;
}

.catalog-img-wrapper-inner {
    position: absolute;
    top: 180px;
    left: 50%;

    min-width: 200px;

    text-align: center;

    transform: translateX(-50%);

    visibility: hidden;
}

.catalog-cart {
    margin-bottom: 22px;
    padding-right: 36px;
    padding-left: 36px;
}

.catalog-compare {
    padding: 0;

    letter-spacing: 0.1em;
    color: var(--opacity-black-5);

    border: none;
    background-color: transparent;
}

.catalog-compare:hover {
    color: var(--basic-black);
}

.catalog-compare:active {
    color: var(--opacity-black-2);
}

.catalog-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.catalog-title {
    width: 275px;
    margin: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.catalog-title-link {
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.catalog-price {
    margin: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.catalog-container {
    padding-top: 70px;
    padding-bottom: 78px;
    padding-left: 72px;
}

.catalog-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 760px;
    margin-top: 40px;

    background-color: var(--basic-grey-light);
}

.catalog-pagination-list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    margin-right: -30px;
    padding-left: 10px;
    padding-right: 10px;
}

.catalog-pagination-item {
    margin-right: 30px;
}

.catalog-pagination-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: inherit;
}

.catalog-pagination-control {
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: inherit;
}

.catalog-pagination-control:hover {
    background-color: var(--special-grey-dark);
}

.catalog-pagination-control:active {
    color: var(--opacity-black-3);
}

.catalog-pagination-number {
    color: var(--opacity-black-3);
}

.catalog-pagination-number:hover {
    color: var(--opacity-black-6);
}

.catalog-pagination-number:active,
.catalog-pagination-link.current {
    color: var(--basic-black);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-wrapper-row {
    display: flex;
    align-items: center;

    margin-bottom: 58px;
}

.footer-wrapper-row:first-child {
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 49px;
}

.footer-wrapper-row:last-child {
    margin-bottom: 0;
}

.footer-wrapper-row:last-child::before {
    content: '';
    display: block;
    width: 80px;
    height: 7px;
    margin-right: 432px;

    background-color: var(--special-yellow-super-dark);
}

.footer {
    padding-top: 47px;
    padding-bottom: 65px;

    background-color: var(--basic-dark);
}

.footer-logo {
    position: relative;
    top: 17px;
}

.footer-user-navigation {
    display: flex;

    min-width: 325px;
}

.footer-user-item {
    margin-right: 41px;
}

.footer-user-item:last-child {
    margin-right: 0;
}

.footer-user-link {
    position: relative;

    padding-left: 25px;

    color: var(--opacity-white-7);
}

.footer-user-link:hover {
    color: var(--basic-white);
}

.footer-user-link:active {
    color: var(--opacity-white-3);
}

.footer-user-link::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
}

.footer-user-entry::before {
    width: 13px;
    height: 14px;

    background-image: url("../img/user-yellow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-user-compare::before {
    width: 14px;
    height: 14px;

    background-image: url("../img/compare-yellow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-user-cart::before {
    width: 11px;
    height: 12px;

    background-image: url("../img/cart-yellow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-user-link:hover::before {
    opacity: 0.6;
}

.footer-user-link:active::before {
    opacity: 0.3;
}

.footer-address {
    margin-right: 165px;

    font-style: normal;
    color: var(--basic-white);
}

.footer-site-navigation {
    display: flex;
    justify-content: space-between;

    width: 426px;
    margin-right: 198px;
}

.footer-site-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-site-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    color: var(--basic-white);
    text-transform: uppercase;
}

.footer-site-link:hover {
    color: var(--opacity-white-6);
}

.footer-site-link:active {
    color: var(--opacity-white-3);
}

.footer-tel {
    color: var(--basic-white);
}

.social-list {
    display: flex;

    margin-right: auto;
}

.social-item {
    margin-right: 20px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-link {
    display: block;
    width: 32px;
    height: 32px;

    background-color: var(--basic-dark);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
}

.social-link:hover {
    opacity: 0.6;
}

.social-link:active {
    opacity: 0.1;
}

.social-fb {
    background-image: url("../img/fb.svg");
}

.social-inst {
    background-image: url("../img/instagram.svg");
}

.social-tw {
    background-image: url("../img/twitter.svg");
}

.academy-logo:hover {
    opacity: 0.6;
}

.academy-logo:active {
    opacity: 0.3;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: none;
    width: 960px;
    margin: auto;

    background-color: var(--basic-white);
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-feedback {
    top: 50%;
    bottom: auto;

    padding-top: 91px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-left: 99px;

    transform: translateY(-50%);
}

.modal-feedback-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-feedback-item {
    width: 360px;
    margin: 0;
    margin-bottom: 22px;
}

.modal-feedback-title {
    display: inline-block;
    margin-bottom: 9px;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.modal-feedback-input {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: var(--opacity-black-4);

    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background-color: var(--basic-grey-super-light);
}

.modal-feedback-input:not(.modal-feedback-input-error):hover {
    background-color: var(--basic-grey-super-normal);
}

.modal-feedback-input:focus {
    color: var(--basic-dark);

    border-color: var(--special-yellow);
    background-color: var(--basic-white);
    outline: none;
}

.modal-feedback-input-error {
    background-color: var(--basic-pink);
}

.modal-feedback-message {
    width: 760px;
    margin-bottom: 32px;
}

.modal-feedback-message .modal-feedback-input {
    height: 167px;

    resize: none;
}

.modal-feedback-button {
    padding-right: 35px;
    padding-left: 35px;
}

.modal-feedback-button::before {
    background-color: var(--special-yellow);
}

.close-modal {
    position: absolute;
    right: 20px;
    top: 20px;

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;
    background-color: transparent;
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline: none;
    opacity: 0.4;

    cursor: pointer;
}

.close-modal:hover {
    opacity: 1;
}

.close-modal:active {
    opacity: 0.3;
}

.modal-map-iframe {
    border: none;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@keyframes bounce {
    0% {
        transform: translateY(-1000px);
    }

    70% {
        transform: translateY(-45%);
    }

    90% {
        transform: translateY(-55%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0) translateY(-50%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px) translateY(-50%);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px) translateY(-50%);
    }
}